container {
  display: grid;
  max-width: 900px;
  position: relative;
  margin: auto;
  gap: 10px;
  grid-template-areas: "header header"
                       "nav nav" 
                       "left right
                       "footer footer";                  
  grid-template-rows: 200px 400px;
  grid-template-columns: 2fr 4fr; 
}

h1, h2 {
  font-family: monospace;
  text-align: center;
}

header {
  background-color: dodgerblue;
}

nav {
  background-color: beige;
}

.left {
  background-color: dodgerblue;
}

.right {
  background-color: beige;
}

footer {
  background-color: dodgerblue;
}
/*header, footer {
  background-color: #408ee0;
  text-align: center;
  min-width: 500px;
}

main {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: repeat(3, 450px);
  gap: 20px;
  margin-top: 44px;
}

h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffa500;
  padding: 10px 0px 10px 10px;
}

img {
  width: 100%;
  height: auto;
}

.movie {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}


.description {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}

.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}

.container {
  min-width: 500px;
  margin: auto;
}

footer {
  margin-top: 44px;
}
*/
